.img-style {
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

figcaption {
    font-size: 14px;
    color: aliceblue;
    margin-top: 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 120px;
}

nav a :hover {
    color: aqua;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
    padding: 100px 20px;
}

h1, h2 {
    color: dodgerblue;
}

.btn {
    background: deepskyblue;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    min-width: 180px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

.project {
    width: 20px;
    justify-content: center;
}

.contact {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #020617;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}

.contact :hover {
    transform: scale(1.05);
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background: #020617;
    padding: 20px;
    text-align: center;
}